<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{:: section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<form class="needs-validation"  th:action="@{/user/process-contact}" th:object="${contact}" enctype="multipart/form-data" method="Post">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input  th:required="required"  type="text"  class="form-control" id="validationCustom01" name="name"  placeholder="First name"  >
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" name="secondName" placeholder="Last name"  required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" name="email" placeholder="Email" aria-describedby="inputGroupPrepend" required>
        
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Work</label>
      <input required type="text" class="form-control" id="validationCustom02" placeholder="Work" name="work"  required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Phone No.</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Phone No" name="phone"  required>
     
    </div>
    <div class="col-md-8 mb-3">
      <label for="validationCustom05">Contact Description</label>
      <textarea  id="mytextarea" class="form-control"    placeholder="Contact Description" name="Description" required></textarea>
      
    </div>
  </div>
  <div class="custom-file col-md-4 mb-3">
  <input type="file" name="profileImage"/>
  
  </div>
  <button class="btn btn-primary" >Submit form</button>
</form>
 <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
 <script>
      tinymce.init({
        selector: '#mytextarea',
        plugins: [
          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
          'alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
      });
    </script>
 
</section>
</body>
</html>